{% for post in posts %}
<div class="col-md-6">
  <div class="card border hover-shadow-6 mb-6 d-block">

    <a href="#">
      <img class="card-img-top" src="{{post.thumbnail.url}}" alt="Card image cap">
    </a>

    <div class="p-6 text-center">

      {% for category in post.categories.all %}
      <p class="small-5 text-lighter text-uppercase ls-2 fw-400">{{category}}</p>
      {% endfor %}
      <h5 class="mb-0"><a class="text-dark" href="{{post.post_link}}">{{post.title}}</a></h5>
    </div>
  </div>
</div>
{% endfor %}
