<!DOCTYPE html">
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Création d&#39;un design étape par étape - Etape n°1 : Le code xhtml</title>
</head>
<body>
<div id="conteneur">
<h1 id="header"><a href="#" title="Colored Design - Accueil"><span>Django Projects</span></a></h1>
<nav>

<div id="maDivGauche" style="float:left">
    <a href="/magasin/" >
        <img src="media/shopp.jpg" alt="magasin" width="480" />
    </a>

<br>
<a href="/magasin/">Application n°1 : Magasin</a>
</div>
<div id="maDivDroite" style="float:right">
    <a href="/blog/" >
        <img src="media/blg.jpg" alt="blog"   />
    </a>
 <br>
<a href="/blog/">Application n°2 : Blog</a>
</div>

</nav>
</div>

</body>
</html>


